.header {
    flex: 0 0 auto;
    background-color: $header-background;
}

.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */
.title,
.logo {
    padding: 3em 3em 0 0;
}

.title * {
    color: $title-color;
}

.title p {
    font-style: italic;
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 50%;
    }
    
    .main {
        max-width: 90%;
    }
}
